html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}
header {
  grid-area: header;
  background-color: white;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #4169e1 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #4169e1;
  color: white;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: black;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 50px;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
  cursor: pointer;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 2rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-body h2 {
  color: #2020a0;
  padding: 20px;
}
/* Dropdown */
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;
  margin-top: 10px;

  /* position: relative; */
}
.dropdown span:first-of-type{
  font-size: 1.25em;
  font-weight: bold;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

.blur {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 600px;
  height: 500px;
  box-shadow: 0 5px 30px rgb(0, 0, 0, 30);
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  border-radius: 3rem;

  border-radius: 2rem;
  margin: 1rem;
  /* max-height: 200px; */
}
.popImg {
  height: 80%;
  width: 100%;
}

.popup-body {
  padding: 5px;
  background-color: #f8f8f8;
}
.popup-body > * {
  margin-bottom: 0.5rem;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  padding: 30px;
  background-color: #f0f8ff;
}
.gallery h1 {
  margin-left: 60px;
  font-size: 4rem;
}
.artist {
  color: #2020a0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.previous {
  /* background: url("Assets/arrows/Left.svg"); */
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  /* height: 20px;
  width: 20px; */
  margin-top: 330px;
  content: "";
}

.page-item {
  margin-top: 0px;
}

.pagination a {
  cursor: pointer;
}

.pagination button {
  margin-left: 5px;
  margin-top: 50px;
}

.side-bar {
  position: relative;
  background-color: white;
  height: 100%;
  margin-top: 0px;
  width: 70px;
  padding-right: 20px;
}

.art-pieces {
  position: relative;
  width: 80%;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  padding: 30px;
  background-color: #f0f8ff;
}

.art-pieces h1 {
  margin-left: 10px;
  font-size: 4rem;
}

.home {
  background: url("Assets/nav/art/supervised_user_circle.svg");
  background-size: contain;
  cursor: pointer;

  display: inline-block;
  height: 30px;
  width: 30px;
  content: "";
  margin-left: 30px;
  margin-top: 80px;
  cursor: pointer;
}

.home-active {
  background: url("Assets/nav/art/supervised_user_circle.svg");
  background-size: contain;
  cursor: pointer;

  display: inline-block;
  height: 30px;
  width: 30px;
  content: "";
  margin-left: 30px;
  margin-top: 80px;
  background-color: blue;
  cursor: pointer;
}

.closeX {
  background: url("Assets/details/close.png");
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  content: "";
  position: absolute;
  top: -15px;
  right: -15px;
}

.admin {
  display: flex;
  height: 100%;
}

.users {
  background: url("Assets/nav/users/user.png");
  background-size: contain;
  cursor: pointer;

  display: inline-block;
  height: 30px;
  width: 30px;
  content: "";
  margin-left: 30px;
  margin-top: 30px;
}

.users-active {
  background: url("Assets/nav/users/user.png");
  background-size: contain;
  cursor: pointer;

  display: inline-block;
  height: 30px;
  width: 30px;
  content: "";
  margin-left: 30px;
  margin-top: 30px;
  background-color: blue;
}

#itemHead {
  width: 10%;
}

#nameHead {
  width: 10%;
}

#artistHead {
  width: 20%;
}

#descriptionHead {
  width: 40%;
}
#actionHead {
  width: 20%;
  border-left: 10px solid white;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 100%;
  padding-top: 0px;
}

.styled-table thead {
  background-color: #f0f8ff;
  color: black;
  text-align: left;
  height: 50px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.white-div {
  padding: 0px;
  background-color: white;
  /* margin-left: 50px; */
  /* height: 100%; */
  width: 99%;
  display: flex;
}

.title {
  padding: 0;
}

td img {
  height: 80px;
  width: 80px;
}

td button {
  background-color: red;
  padding: 0;
  margin-left: 20px;
  width: 80px;
  height: 40px;
}

.login-background {
  background-image: url("Assets/login/bg.svg");
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  display: flex;
  background-size: cover; /* Resize the background image to cover the entire container */
}

.form-new {
  max-width: 60rem;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  /* width: 150px; */
}
.form-new > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form-new label {
  margin: 1rem 0;
}

.center-content {
  margin: auto;
  width: 33%;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

.center-content h1 {
  margin: auto;
  text-align: center;
}

.label-form {
  /* border-bottom: 5px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #87cefa;
  padding: 0;
}

.label-form ::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #4169e1;
  bottom: 0;
  width: 33%;
  left: 33%;
  z-index: 5;
}

.password-input {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}

.password-input .show-icon {
  background: url("Assets/login/Group\ 18.svg");
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  width: 30px;
  content: "";
  position: absolute;
  top: 42px;
  right: 1px;
}
